body{margin: 0px;padding: 0px; background-color: #595775}
.inp{padding: 10px; padding-left: 10px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;}
td{padding: 10px; padding-left:3px;padding-right: 10px; color: #dde6f4;}